$sea-blue: #79d8c5;
$m-size: 1.6rem;
$l-size: 3.2rem;

#login-button {
  background: $sea-blue;
  border: none;
  border-bottom: .6rem solid darken($sea-blue, 10%);
  border-left: .6rem solid darken($sea-blue, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  float: right;
  margin-right: 1%;
}
