$purple: #8357c5;
$m-size: 1.6rem;
$l-size: 3.2rem;

#research-area-button {
  background: $purple;
  border: none;
  border-bottom: .6rem solid darken($purple, 10%);
  border-left: .6rem solid darken($purple, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 50%;
  margin-left: 1%;
  margin-right: 1%;
}
