#login-page {
  margin-left: 1%;
  text-align: center;
}

$log-in-gray: #3f4a5b;

#log-in-actual, #log-off-actual {
  background: $log-in-gray;
  border: none;
  border-bottom: .6rem solid lighten($log-in-gray, 20%);
  border-left: .6rem solid lighten($log-in-gray, 20%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 1.0rem;
  margin-right: 1%;
}


$dark-green: #058c51;

#create-an-account {
  background: $dark-green;
  border: none;
  border-bottom: .6rem solid lighten($dark-green, 5%);
  border-left: .6rem solid lighten($dark-green, 5%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 1.0rem;
  margin-right: 1%;
}

$facebook-blue: #0043ff;

#log-in-facebook {
  background: $facebook-blue;
  border: none;
  border-bottom: .6rem solid lighten($facebook-blue, 10%);
  border-left: .6rem solid lighten($facebook-blue, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 1.0rem;
  margin-right: 1%;
}

#login-google {
  background: white;
  border: none;
  border-bottom: .6rem solid lighten(red, 10%);
  border-left: .6rem solid lighten(red, 10%);
  color: #ff5647;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 1.0rem;
  margin-right: 1%;
}
